
  h1{
    border-bottom: solid;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
  }
  body{
    height: 100%
  }
  html{
    height: 100%
  }
  ol{
    border-right: solid;
    margin: 0;
    padding-top:20px;
  }
  #grid{
    display:grid;
    grid-template-columns: 130px 1fr;
    height:100%
  }
  #grid #line{
    padding-left: 20px;
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
    ol{
      border-right:none;
    }
  }
